# Database connection string
DATABASE_URL=postgresql://postgres:YOUR_DATABASE_PASSWORD_HERE@localhost:5432/titanhub

# JWT Auth Secret key
TOKEN_SECRET=YOUR_JWT_TOKEN_SECRET_HERE

# Hono API Backend Port
PORT=3001

# Local docker service credentials
POSTGRES_USER=postgres
POSTGRES_PASSWORD=YOUR_DATABASE_PASSWORD_HERE
POSTGRES_DB=titanhub

MINIO_ROOT_USER=minioadmin
MINIO_ROOT_PASSWORD=YOUR_MINIO_PASSWORD_HERE
